<main id="main">

<div class="container">
  <div class="row">
       <div class="col-md-12 text-right mb-20 pd-30">
          <a class="btn btn-primary pill-btn" routerLink="/alta_historia_clinica" routerLinkActive="active">Agregar Historia Clinica</a>
       </div>
     </div>
</div>

<div class="container">

  <div class="row">

    <div class="mb-4 mt-0 col-md-12 padding-none">
            <div class="card-body">


              <div class="table-responsive resultado">
<mat-table [dataSource]="listadoHistorias" matSort class="table listaConsulta ">

  <ng-container matColumnDef="NumeroOrden">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Numero de Orden </mat-header-cell>
    <mat-cell class="columna-datos" *matCellDef="let element"> {{element.NumeroOrden}} </mat-cell >
  </ng-container>

  <ng-container matColumnDef="Nombre">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
    <mat-cell class="columna_fecha columna-datos" *matCellDef="let element"> {{element.Nombre}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Apellido">
    <mat-header-cell  *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
    <mat-cell class="columna_tema columna-datos" *matCellDef="let element"> {{element.Apellido}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="DocumentoDeIdentidad">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
    <mat-cell class="columna_subtema columna-datos" *matCellDef="let element"> {{element.DocumentoDeIdentidad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Edad">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Edad</mat-header-cell>
    <mat-cell class="columna-datos" *matCellDef="let element"> {{element.Edad}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="Genero">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Genero</mat-header-cell>
    <mat-cell class="columna-datos" *matCellDef="let element">{{element.Genero}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ObraSocial">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Obra Social</mat-header-cell>
    <mat-cell class="columna-datos" *matCellDef="let element">{{element.ObraSocial}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="FactorSanguineo">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Factor Sanguineo</mat-header-cell>
    <mat-cell class="columna-datos" *matCellDef="let element">{{element.FactorSanguineo}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>
<mat-paginator [length]="10" [pageSize]="10" [hidePageSize]="true"></mat-paginator>


              </div>
            </div>
          </div>
        </div>
      </div>

    </main>

