<main id="main">

  <div class="container">
    <div class="row">
         <div class="col-md-12 text-right mb-20 pd-30">
            <button type="button" class="btn btn-sm btn-dark px-0" data-toggle="modal" data-target="#nuevoHistorial" ><i class="fas fa-edit"></i> Agregar Historial </button>
         </div>
       </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="mb-4 mt-0 col-md-12 padding-none">
              <div class="card-body">


                <div class="table-responsive resultado">
  <mat-table [dataSource]="listadoHistorias" matSort class="table listaConsulta">

    <ng-container matColumnDef="NumeroOrden">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Numero de Orden </mat-header-cell>
      <mat-cell class="columna-datos" *matCellDef="let element"> {{element.NumeroOrden}} </mat-cell >
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
      <mat-cell class="columna_fecha columna-datos" *matCellDef="let element"> {{element.Nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Apellido">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
      <mat-cell class="columna_tema columna-datos" *matCellDef="let element"> {{element.Apellido}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="DocumentoDeIdentidad">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Documento </mat-header-cell>
      <mat-cell class="columna_subtema columna-datos" *matCellDef="let element"> {{element.DocumentoDeIdentidad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Edad">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Edad</mat-header-cell>
      <mat-cell class="columna-datos" *matCellDef="let element"> {{element.Edad}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Genero">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Genero</mat-header-cell>
      <mat-cell class="columna-datos" *matCellDef="let element">{{element.Genero}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ObraSocial">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Obra Social</mat-header-cell>
      <mat-cell class="columna-datos" *matCellDef="let element">{{element.ObraSocial}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="FactorSanguineo">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>Factor Sanguineo</mat-header-cell>
      <mat-cell class="columna-datos" *matCellDef="let element">{{element.FactorSanguineo}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator [length]="10" [pageSize]="10" [hidePageSize]="true"></mat-paginator>


                </div>
              </div>
            </div>
          </div>
        </div>

      </main>

  <div class="modal fade" id="nuevoHistorial" tabindex="-1" role="dialog" aria-labelledby="NuevoHistorial" aria-hidden="true" #modal>
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">NUEVO HISTORIAL</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <form  [formGroup]="registerForm" (ngSubmit)="onSubmit()" aria-labelledby="exampleModalLabel" >
                      <div class="form-row">
                          <div class="form-group col-md-2">
                              <label>Numero de Orden</label>
                              <input type="" formControlName="NumeroOrden" class="form-control form-control-sm" placeholder="Número" name="NumeroOrden" [ngClass]="{ 'is-invalid': submitted && f.NumeroOrden?.errors }">
                              <div *ngIf="submitted && f.NumeroOrden?.errors" class="invalid-feedback">
                                  <div *ngIf="f.NumeroOrden?.errors.required">Ingrese un numero de orden</div>
                              </div>
                          </div>

                        <div class="form-group col-md-5">
                            <label>Nombre</label>
                            <input type="" formControlName="Nombre" class="form-control form-control-sm" placeholder="Nombre" name="Nombre" [ngClass]="{ 'is-invalid': submitted && f.Nombre?.errors }">
                            <div *ngIf="submitted && f.Nombre?.errors" class="invalid-feedback">
                                <div *ngIf="f.Nombre?.errors.required">Ingrese un nombre</div>
                            </div>
                        </div>

                        <div class="form-group col-md-5">
                            <label>Apellido</label>
                            <input type="" formControlName="Apellido" class="form-control form-control-sm" placeholder="Apellido" name="Apellido" ng-reflect-required [ngClass]="{ 'is-invalid': submitted && f.Apellido?.errors }">
                            <div *ngIf="submitted && f.Apellido?.errors" class="invalid-feedback">
                                <div *ngIf="f.Apellido?.errors.required">Ingrese un apellido</div>
                            </div>
                        </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group col-md-4">
                              <label>Documento</label>
                              <input type="text" maxlength="8" formControlName="DocumentoDeIdentidad" name="DocumentoDeIdentidad" class="form-control form-control-sm" placeholder="Nro de DNI" [ngClass]="{ 'is-invalid': submitted && f.DocumentoDeIdentidad?.errors }">
                              <div *ngIf="submitted && f.DocumentoDeIdentidad?.errors" class="invalid-feedback">
                                  <div *ngIf="f.DocumentoDeIdentidad?.errors.required">Ingrese un dni en el formato valido</div>
                              </div>
                            </div>
                          <div class="form-group col-md-2">
                              <label>Edad</label>
                              <input type="text" formControlName="Edad" class="form-control form-control-sm" placeholder="Edad" name="Edad" [ngClass]="{ 'is-invalid': submitted && f.Edad?.errors }">
                              <div *ngIf="submitted && f.Edad?.errors" class="invalid-feedback">
                                  <div *ngIf="f.Edad?.errors.required">Ingrese una edad valida</div>
                              </div>
                          </div>
                        <div class="form-group col-md-4">
                            <label>Sexo</label>
                            <select formControlName="Genero" class="form-control form-control-sm" placeholder="Genero" name="Genero" [ngClass]="{ 'is-invalid': submitted && f.Genero?.errors }">
                                <option value='' disabled>Seleccione...</option>
                                <option [ngValue]='1'>Femenino</option>
                                <option [ngValue]='2'>Masculino</option>
                            </select>
                            <div *ngIf="submitted && f.Genero?.errors" class="invalid-feedback">
                              <div *ngIf="f.Genero?.errors.required">Seleccione un Genero</div>
                          </div>
                        </div>

                      </div>

                      <div class="form-row">
                        <div class="form-group col-md-4">
                          <label for="validationDefault04">Obra Social</label>
                          <select formControlName="ObraSocial" class="form-control form-control-sm" name="ObraSocial" [ngClass]="{ 'is-invalid': submitted && f.ObraSocial?.errors }">
                              <option value='' disabled>Seleccione...</option>
                              <option [ngValue]='0'>IOMA</option>
                              <option [ngValue]='1'>PAMI</option>
                              <option [ngValue]='2'>Swiss Medical</option>
                          </select>
                          <div *ngIf="submitted && f.ObraSocial?.errors" class="invalid-feedback">
                            <div *ngIf="f.ObraSocial?.errors.required">Seleccione una Obra Social</div>
                        </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="validationDefault05">Grupo Sanguineo</label>
                          <select formControlName="GrupoSanguineo" class="form-control form-control-sm" name="Grupo" [ngClass]="{ 'is-invalid': submitted && f.GrupoSanguineo?.errors }">
                              <option value='' disabled>Seleccione...</option>
                              <option [ngValue]='3'>O</option>
                              <option [ngValue]='0'>A</option>
                              <option [ngValue]='2'>B</option>
                              <option [ngValue]='1'>AB</option>
                          </select>
                          <div *ngIf="submitted && f.GrupoSanguineo?.errors" class="invalid-feedback">
                            <div *ngIf="f.GrupoSanguineo?.errors.required">Seleccione un Grupo Sanguineo</div>
                        </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Factor</label>
                            <select formControlName="FactorSanguineo" class="form-control form-control-sm" name="Factor" [ngClass]="{ 'is-invalid': submitted && f.FactorSanguineo?.errors }">
                                <option value='' disabled>Seleccione...</option>
                                <option [ngValue]='0'>Rh +</option>
                                <option [ngValue]='1'>Rh -</option>
                            </select>
                            <div *ngIf="submitted && f.FactorSanguineo?.errors" class="invalid-feedback">
                              <div *ngIf="f.FactorSanguineo?.errors.required">Seleccione un Factor</div>
                          </div>
                          </div>
                      </div>

                      <div class="form-row">
                          <div class="form-group col-md-9">
                              <label>Observaciones</label>
                              <textarea formControlName="Observaciones" class="form-control form-control-sm" name="Observaciones">
                              </textarea>
                            </div>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger redondo" data-dismiss="modal"><i class="fas fa-times fa-lg"></i>CANCELAR</button>
                        <button  type="submit" class="btn btn-success boton3 redondo"><i class="fas fa-save fa-lg"></i>GUARDAR</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
    </div>
